body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header-content {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.project {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.project h3 {
    font-size: 18px;
}

.project p {
    font-size: 14px;
}
.image-slot {
    text-align: center;
    margin-top: 20px;
}

.image-slot img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #007BFF;
}

/* CSS Animation */
.image-slot img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}